script type="text/x-handlebars" data-template-name="companies/index"
  erb:
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Companies</h2>
        </div>
        <ul class="list-group">
          {{#each company in model}}
            <li class="list-group-item clearfix">
              {{#link-to 'companies.show' company class="companies-show-link"}}{{company.name}}{{/link-to}}
              {{#link-to 'companies.edit' company class="pull-right btn btn-primary"}}
                <span class="glyphicon glyphicon-pencil" style="color: white"></span>
              {{/link-to}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
